<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class=''>
        <img src="../public/images/logo-mercado-liebre.svg" alt="Logo logo-mercado-liebre">
        <h4>Lugar para poner la barra de busqueda</h4>
        <h4>Comprá en cuotas u sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>

    </footer>  
</body>
</html>