<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class=''>

        <img src="./images/logo-mercado-liebre.svg" alt="Logo logo-mercado-liebre">

        <input type="text" placeholder="Buscar productos, marcas">
        
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <h4><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li> <a href="">Ofertas</a></li>
                <li> <a href="">Tiendas Oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li> <a href="">ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li> <a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class=''>
        <section>
            <h4>Sección: Basado en tu última visita</h4>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
                <p> $6.770 <br> 40% OFF</p>
                <h5> Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen de la MacBook">
                <p> $230.000 <br> 20% OFF</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung">
                <p> $70.500 <br> 10% OFF</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen de smartTV">
                <p> $23.200 <br> 5% OFF</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
        <section>
            <h4>Sección de Ofertas</h4>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
                <p> $6.770 <br> 40% OFF</p>
                <h5> Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen de la MacBook">
                <p> $230.000 <br> 20% OFF</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung">
                <p> $70.500 <br> 10% OFF</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen de smartTV">
                <p> $23.200 <br> 5% OFF</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main>
    <footer class=''>
        <section>

            <article>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>

            <article>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </footer>  
</body>
</html>