:root{
    /*COLORES*/
    --amarillo:#EAC926;
    --azul:#03264C;
    --celeste:#1259c3;
    --grisOscuro:#666;
    --gris:#dedede;
    --grisClaro:#ebebeb;
    --verde:#39b54a;
    --blanco:white;

    /*TIPOGRAFIA*/
    --FamilyRoboto:'Roboto', sans-serif;

    /*TAMAÑO DE TIPOGRAFIA*/
    --cuerpoDeTexto: 12px;
    --titularesVisitasOferta: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;

    /*FOOTER ICONOS*/
    --iconos:2em;
}

*{
    box-sizing: border-box;
    font-family: var(--FamilyRoboto);
    margin-left: 0px;
    margin-right: 0px;
}

header{
    background-color: var(--amarillo);
}

main{
    background-color: var(--grisOscuro);
}

footer{
    background-color: var(--blanco);
}