.home img{
    width: 35%;
    margin: 18px 20px 15px 20px;
}

.home form{
    padding-left: 10px;
}

.home form input{
    display: inline;
    margin: 0px;
}

.home .lupa {
    display: inline;
    font-size: 13px;
    background-color: var(--grisClaro);
    margin: 1px 0px 0px 0px;
    padding-left: 1px;
    border: solid 1px var(--grisOscuro);
}

.home h4{
    padding: 0px;
    text-align: center;
    font-size: var(--cuerpoDeTexto);
    font-weight: normal;
    margin: 8px 0px 19px 0px;
}

.home nav{
    margin: 0px 0px 10px;
    display: none;
}

.home nav ul{
    font-size: var(--cuerpoDeTexto);
    padding: 0;
    list-style: none;
    margin-left: 0px;
}

.home a{
    color: black;
    text-decoration: none;
}

.home .burger-menu i{
    background-color: var(--celeste);
    color: var(--grisClaro);
    margin: 0px 0px 10px 140px;
    padding: 7px 8px 7px 8px;
    border-radius: 5px;
}