@media(max-width:360px){
    .home{
        margin: 0px;
    }

    .body-header-componentes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: revert;
        padding: 24px;
    }
    
    .home .body-header-componentes img{
        width: 50%;
    }
    
    .home .body-header-componentes .form{
        width: 50%;
        position: relative;
        top: 10px;
    }
    .home .body-header-componentes input{
        font-size: 13px;
        position: relative;
        top: 0px;
        padding: 5px 0px 5px 0px;
        border: 0px;
        border-radius: 5px;
    }
    
    .home .body-header-componentes .form i {
        position: absolute;
        right: 6px;
        top: 1px;
        background-color: var(--blanco);
        padding: 4px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 14px;
    }

    .home .body-header-componentes .lupa .fa-magnifying-glass{
        font-size: 12px;
        color: var(--grisOscuro);
    }
    
    .home .body-header-componentes .h4{
        font-size: 13px;
        margin: auto;
        margin-top: 20px;
        font-weight: normal;}
    
    .home nav{
        margin: 0px 0px 10px;
        display: none;
    }
    
    .home nav ul{
        font-size: var(--cuerpoDeTexto);
        padding: 0;
        list-style: none;
        margin-left: 0px;
    }
    
    .home a{
        color: black;
        text-decoration: none;
    }

    .home .burger-menu{
        text-align: center;
        padding-bottom: 17px;
    }
    
    .home .burger-menu i{
        background-color: var(--celeste);
        color: var(--grisClaro);
        padding: 7px 8px 7px 8px;
        border-radius: 5px;
    }
}
@media(min-width:361px) and (max-width:768px){ /*tablet*/

    .body-header-componentes{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
    }
    
    .home .body-header-componentes img{
        width: 33%;
    }
    
    .home .body-header-componentes input{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .home .body-header-componentes .form i {
        background: white;
        border: black solid 1px;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        right: 36%;
        margin-top: -20px;
    }

    .home .body-header-componentes .lupa .fa-magnifying-glass{
        font-size: 10px;
        color: var(--grisOscuro);
    }
    
    .home .body-header-componentes .h4{
        font-size: var(--cuerpoDeTexto);
        width: 33%;
        font-weight: normal;
    }
    
    .home nav{
        margin: 0px 24px 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .home nav ul{
        font-size: var(--cuerpoDeTexto);
        list-style: none;
        text-decoration: none;
        display: flex;
    }

    .home nav ul li a{
        font-size: var(--cuerpoDeTexto);
        text-decoration: none;
        margin: 0px 4px;
        display: flex;
    }
    
    .home a{
        color: black;
    }

    .home .burger-menu{
        text-align: center;
        padding-bottom: 17px;
    }
    
    .home .burger-menu i{
        display: none;
    }
    
}
@media(min-width:769px) { /*Desktop*/

    .body-header-componentes{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
    }
    
    .home .body-header-componentes img{
        width: 33%;
    }
    
    .home .body-header-componentes input{
        display: flex;
        align-items: flex-end;
    }
    
    .home .body-header-componentes .form i {
        background: white;
        border: black solid 1px;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        right: 39%;
        margin-top: -20px;
        position: absolute;
    }

    .home .body-header-componentes .lupa .fa-magnifying-glass{
        font-size: 10px;
        color: var(--grisOscuro);
    }
    
    .home .body-header-componentes .h4{
        font-size: var(--cuerpoDeTexto);
        width: 33%;
        font-weight: normal;
    }
    
    .home nav{
        margin: 0px 36px 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .home nav ul{
        font-size: var(--cuerpoDeTexto);
        list-style: none;
        text-decoration: none;
        display: flex;
    }

    .home nav ul li a{
        font-size: var(--cuerpoDeTexto);
        text-decoration: none;
        margin: 0px 10px;
        display: flex;
    }
    
    .home a{
        color: black;
    }

    .home .burger-menu{
        text-align: center;
        padding-bottom: 17px;
    }
    
    .home .burger-menu i{
        display: none;
    }
}