.home img{
    width: 120px;
    margin: 18px 20px 15px 20px;
}

.home input{
    margin-left: 9px;
    width: 170px;
}

.home .lupa{
    font-size: 13px;
    background-color: var(--grisClaro);
    margin: 1px 0px 0px 10px;
    padding-left: 1px;
    width: 14px;
    border: solid 1px var(--grisOscuro);
}

.home h4{
    font-size: var(--cuerpoDeTexto) ;
    padding-left: 40px;
    font-weight: normal;
}

.home nav ul{
    font-size: var(--cuerpoDeTexto);
    padding: 0px;
    list-style: none;
    margin-left: 0px;
}

.home a{
    color: black;
    text-decoration: none;
}

.home .burger-menu i{
    background-color: var(--celeste);
    color: var(--grisClaro);
    margin-left: 150px;
    padding: 7px 8px 7px 8px;
    border-radius: 5px;
}