.home .banner{
    width: 100%;
    margin: 15px 0px 0px 0px;
}

.home .logo{
    width: 35%;
    margin: 18px 20px 15px 20px;
}

.home form{
    padding-left: 10px;
}

.home form input{
    display: inline;
    margin: 0px;
}

.home .lupa {
    display: inline;
    font-size: 13px;
    background-color: var(--grisClaro);
    margin: 1px 0px 0px 0px;
    padding-left: 1px;
    border: solid 1px var(--grisOscuro);
}

.home h4{
    margin: 10px 0px 20px;
    font-size: var(--cuerpoDeTexto);
    font-weight: normal;
}

.home nav{
    margin: 0px 0px 10px;
    display: none;
}

.home nav ul{
    font-size: var(--cuerpoDeTexto);
    padding: 0px;
    list-style: none;
    margin-left: 0px;
}

.home a{
    color: black;
    text-decoration: none;
}

.home .burger-menu i{
    background-color: var(--celeste);
    color: var(--grisClaro);
    margin-left: 140px;
    padding: 8px 8px 7px 8px;
    border-radius: 5px;
}

@media(min-width:360px) and (max-width:768px){ /*tablet*/

    
    .home div{
        width: 100%;
    }
    .home div h4{
        text-align: center;
    }
    
    .home nav{
        display: block;
        margin-left: 10px;
    }
    
    .home .burger-menu i{
        display: none;
    }
}

@media(min-width:769px) { /*Desktop*/
   
    .home div{
        width: 100%;
    }
    .home div h4{
        text-align: center;
    }
    
    .home nav{
        display: block;
    }
    
    .home .burger-menu i{
        display: none;
    }
}