.main {
    width: 90%;
    background-color: var(--grisClaro);
    margin: 0 auto;
}
.main .banner{
    width: 100%;
}
.articulo img{
    width: 100%;
    border-bottom: solid 1px var(--grisClaro);
}

.articulo{
    background-color: var(--blanco);
    border-top: solid 1px var(--gris);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px;
    border: solid 1px var(--gris);
}

.articulo .fa-truck{
    border-radius: 19px;
    padding: 3px 15px 15px 3px;
    color: var(--verde);
    border: solid 1px var(--verde);
}

.articulo .oferta{
    font-size: 14px;
    color: var(--verde);
}
.articulo .div-h5{
    display: none;
    margin-bottom: 0px;
    font-weight: normal;
    color: var(--grisOscuro);
}

.seccion{
    display: flex; 
    flex-direction: column ;
}
.seccion h4{
    text-align: left;
    margin-left: 14px;
    color: var(--grisOscuro);
    margin-bottom: 10px;
}


@media(min-width:360px) and (max-width:768px){ /*tablet*/

    .home img{}
    
    .home form{}
    
    .home form input{}
    
    .home .lupa {}
    
    .home div{
        width: 100%;
    }
    .home div h4{
        text-align: center;
    }
    
    .home nav{
        display: block;
    }
    
    .home nav ul{
    }
    
    .home a{}
    
    .home .burger-menu i{
        display: none;
    }

    .main {
        width: 90%;
        background-color: var(--grisClaro);
    }

    .main .seccion{}

    .main .seccion h4{}

    .main .seccion .articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main .seccion .articulo img{
}

    .main .seccion .articulo .envio{}

    .main .seccion .articulo .precio{
        font-size: var(--precios);
    }

    .main .seccion .articulo .oferta{
        font-size: var(--descuentos);
    }

    .main .seccion .articulo .div-h5{
        display: block;
        margin-top: 16px;
        font-size: var(--descripciones);
    }
}

@media(min-width:769px) { /*Desktop*/
    .home img{}
    
    .home form{}
    
    .home form input{}
    
    .home .lupa {}
    
    .home div{
        width: 100%;
    }
    .home div h4{
        text-align: center;
    }
    
    .home nav{
        display: block;
    }
    
    .home nav ul{
    }
    
    .home a{}
    
    .home .burger-menu i{
        display: none;
    }

    .main {
        width: 90%;
        background-color: var(--grisClaro);
    }

    .main .seccion{}

    .main .seccion h4{}

    .main .seccion .articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main .seccion .articulo img{
}

    .main .seccion .articulo .envio{}

    .main .seccion .articulo .precio{
        font-size: var(--precios);
    }

    .main .seccion .articulo .oferta{
        font-size: var(--descuentos);
    }

    .main .seccion .articulo .div-h5{
        display: block;
        margin-top: 16px;
        font-size: var(--descripciones);
    }
}
