
    .main {
        background-color: var(--grisClaro);
        margin: 0 auto;
    }
    .main .banner{
        width: 100%;
    }
    .articulo img{
        width: 100%;
        border-bottom: solid 1px var(--grisClaro);
    }
    
    .articulo{
        background-color: var(--blanco);
        border-top: solid 1px var(--gris);
        padding: 15px;
        border-radius: 5px;
        margin: 10px;
        border: solid 1px var(--gris);
    }
    
    .articulo .fa-truck{
        color: var(--verde);
        text-align: center;
    }
    
     .articulo .envio{
        display: block;
        font-size: 15px;
        padding:5px;
        width: 28px;
        height:30px;
        border:1px solid var(--verde);
        background-color: var(--blanco);
        border-radius: 50%;
        position: relative;
        top: -20px;
        margin-left: auto;
    }
    
    .articulo .precio{
        font-size: var(--precios);
        display: block;
        position: relative;
        top: -9px;
    }
    
    .articulo .oferta{
        display: block;
        font-size: var(--descuentos);
        color: var(--verde);
        position: relative;
        top: -30px;
        right: -92px;
    }

    .articulo .div-h5{
        display: block;
        position: relative;
        top: -5px;
        margin-bottom: 0px;
        font-weight: normal;
        color: var(--grisOscuro);
    }
    
    .main h4{
        text-align: left;
        margin-left: 14px;
        color: var(--grisOscuro);
        font-size: var(--titularesVisitasOferta);
    }

@media(min-width:361px) and (max-width:768px){ /*tablet*/
    
    .main {
        width: 90%;
        background-color: var(--grisClaro);
    }

    .main .seccion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main .seccion .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }


    .main .seccion .articulo .envio{
        display: block;
        font-size: 16px;
        padding:5px;
        width:30px;
        height:30px;
        background-color: var(--blanco);
        border-radius:50%;
        position: relative;
        top: -20px;
    }

    .main .seccion .articulo .precio{
        font-size: var(--precios);
    }

    .main .seccion .articulo .oferta{
        display: block;
        color: var(--verde);
        position: relative;
        top: -29px;
        right: -86px;
    }

    .main .seccion .articulo .div-h5{
        display: block;
        font-size: var(--descripciones);
    }
}
@media(min-width:769px) { /*Desktop*/
  
    .main {
        background-color: var(--grisClaro);
    }

    .main .seccion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main .seccion .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 21%;
    }

    .main .seccion .articulo .envio{
        display: block;
        font-size: 16px;
        padding:5px;
        width:30px;
        height:30px;
        background-color: var(--blanco);
        border-radius: 50%;
        position: relative;
        top: -20px;
    }

    .main .seccion .articulo .precio{
        font-size: var(--precios);
    }

    .main .seccion .articulo .oferta{
        display: block;
        color: var(--verde);
        position: relative;
        top: -29px;
        right: -86px;
    }

    .main .seccion .articulo .div-h5{
        display: block;
        font-size: var(--descripciones);
    }
}
