.main {
    width: 90%;
    background-color: var(--grisClaro);
    margin: 0 auto;
}

.articulo img{
    width: 220px;
    border-bottom: solid 1px var(--grisClaro);
}

.articulo{
    background-color: var(--blanco);
    border-top: solid 1px var(--gris);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px;
    border: solid 1px var(--gris);
}

.articulo .envio{
    margin-bottom:15px;
    color: var(--verde);
}

.articulo .oferta{
    font-size: 14px;
    margin-top: -15px;
    color: var(--verde);
}
.articulo .div-h5{
    font-weight: normal;
    color: var(--grisOscuro);
    margin-bottom: -20px;
}

.seccion{
    display: flex; 
    flex-direction: column ;
}
.seccion h4{
    text-align: left;
    margin-left: 14px;
    color: var(--grisOscuro);
    margin-bottom: 10px;
}


@media(min-width:361px) and (max-width:768px){ /*tablet*/

    .main {}

    .main .seccion{}

    .main .seccion .articulo{
        
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main .seccion .articulo img{}

    .main .seccion .articulo .envio{}

    .main .seccion .articulo .precio{}

    .main .seccion .articulo .oferta{}

    .main .seccion .articulo .div-h5{}
}

@media(min-width:769px) { /*Desktop*/
}